* {
  margin: 0;
  padding: 0;
}

.garden {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

/* Tablet */
@media screen and (min-width: 48rem) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
}
