* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

button {
  border: none;
}

main {
  width: calc(100vw - (100vw - 100%));

  canvas {
    width: 20rem;
    height: 20rem;
  }
}

.setup {
  display: grid;
  place-items: center;
  height: 100vh;

  h1 {
    margin-bottom: 2ch;
  }

  button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;

    background-color: hotpink;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.controller {
  display: grid;
  place-content: center;
  height: 100vh;

  .dpad {
    display: grid;
    grid-template-rows: 3.75rem 3.5rem 3.75rem;
    grid-template-columns: 3.75rem 3.5rem 3.75rem;
    justify-content: center;

    position: relative;
    margin-bottom: 4.6rem;

    & > button {
      border-radius: 0.25rem;
      position: relative;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

      transition: box-shadow 0.1s ease-in-out;

      &:active {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
      }

      &::after {
        content: '';

        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
      }
    }

    button,
    .mid {
      background-color: hotpink;
    }

    .mid {
      z-index: 5;
    }

    .up,
    .down {
      &::after {
        width: 2px;
        height: 2rem;

        top: 50%;
        transform: translateY(-50%);
      }
    }

    .left,
    .right {
      &::after {
        height: 2px;
        width: 2rem;

        left: 50%;
        transform: translateX(-50%);
      }
    }

    .up {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .down {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3.4rem;
      height: 3.4rem;

      border-radius: 1in;

      background-color: hotpink;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

      transition: box-shadow 0.1s ease-in-out;

      &:first-child {
        margin-bottom: 2rem;
      }

      &:active {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
